/* =========================
    custom fonts
============================ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); /* poppins 600 */

/* =========================
    common styles
============================ */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#header-container,
#body-container {
  max-width: 80%;
  margin: 2% auto;
}
.menu ul li a:hover,
.brand-color,
.single-collection h2 a:hover,
.social a:hover {
  color: #e02c6d;
}
.client-logo-container,
.collection-container,
.newsletter-container {
  margin: 3% 4% 6%;
}

/* ========================= 
    header styles
============================ */
.header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 300px;
}
.mobile-menu {
  display: none;
}
.mobile-menu a {
  color: #3a3a3a;
  font-size: 17px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline;
  margin-left: 34px;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #3a3a3a;
}

/* ========================= 
    main banner styles
============================ */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  width: 50%;
}
.banner-heading {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
  color: #3a3a3a;
}
.banner-description {
  margin: 12px 0 18px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 24px;
  background-color: #e02c6d;
  color: #fff;
  font-size: 16px;
  border: 1px solid #e02c6d;
  border-radius: 50px;
}
.btn:hover {
  background-color: #fff;
  color: #e02c6d;
}
.banner-img {
  width: 85%;
  display: block;
  margin-left: auto;
}
.banner-img:hover {
  transform: rotate(2deg);
  transition: transform 1.5s;
}

/* ========================= 
    client logo styles
============================ */

.client-logo-container .image-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.image-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= 
    popular collections styles
================================= */

.collection-heading {
  font-size: 34px;
  color: #3a3a3a;
  text-align: center;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.single-collection {
  padding: 17px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.collection-img {
  overflow: hidden;
}
.collection-img img {
  width: 100%;
  height: auto;
}
.single-collection:hover .collection-img img {
  transform: scale(1.1, 1.1);
  transition: transform 1.5s;
}
.single-collection h2 {
  margin: 10px 0 5px;
}
.single-collection h2 a {
  font-size: 28px;
  font-weight: 600px;
  color: #18191f;
  text-decoration: none;
}
.single-collection h3 {
  font-size: 24px;
  color: #18191f;
  font-weight: 400;
  margin: 5px 0 10px;
}
.single-collection .ratings i {
  color: #fb8200;
  font-size: 14px;
}
.single-collection .ratings span,
.single-collection p {
  color: #5e6366;
  font-size: 14px;
}
.see-more {
  display: block;
  margin-top: 3%;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  color: #e02c6d;
}
.see-more:hover {
  color: gray;
}

/* ============================= 
    newsletter styles
================================= */

.newsletter {
  text-align: center;
  padding: 4% 2% 5%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.newsletter p {
  margin-top: 0;
}
.newsletter form input {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.newsletter form input[type="email"] {
  padding: 7px 14px;
  color: #000;
  width: 40%;
  border: 1px solid #e02c6d;
  border-radius: 50px 0px 0px 50px;
}
.newsletter form input[type="submit"] {
  background-color: #e02c6d;
  color: #fff;
  margin-left: -6px;
  padding: 7px 15px;
  border: 1px solid #e02c6d;
  border-radius: 0px 50px 50px 0px;
}
.newsletter form input[type="submit"]:hover {
  background-color: #3a3a3a;
  border-color: #3a3a3a;
  cursor: pointer;
}
/* ============================= 
    fooer styles
================================= */

#footer-container {
  background-color: #0a0826;
  padding: 40px 0;
  margin: auto;
}
.footer-logo img {
  display: block;
  margin: auto;
  width: 240px;
}
.footer-info {
  text-align: center;
  color: white;
  font-size: 14px;
}
.social a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0px 8px;
}

/* ============================= 
    responsive styles
================================= */

/* tablet style */
@media only screen and (max-width: 768px) {
  #header-container,
  #body-container {
    max-width: 88%;
    margin: 2% auto;
  }
  .header-inner-container .menu {
    display: none;
  }
  .header-inner-container .mobile-menu {
    display: block;
  }
  .banner-container,
  .client-logo-container,
  .collection-container,
  .newsletter-container {
    margin: 8% 0%;
  }
  .banner-heading {
    line-height: 1.2;
  }
  .client-logo-container .image-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile style */
@media only screen and (max-width: 600px) {
  .logo img {
    width: 70%;
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .left,
  .right {
    width: 100%;
  }

  .banner-img {
    display: block;
    margin: auto;
  }
  .client-logo-container .image-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
}
