/* =========================
Custom Fonts
============================ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); /* poppins 600 */

body {
  font-family: "Poppins", sans-serif;
}

/* ========================= 
    Header styles
============================ */
#header-container,
#body-container,
#footer-container {
  max-width: 80%;
  margin: 2% auto;
}
.header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 300px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline;
  margin-left: 34px;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #3a3a3a;
}
.menu ul li a:hover,
.brand-color {
  color: #e02c6d;
}

/* ========================= 
    Main banner styles
============================ */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  width: 50%;
}
.banner-heading {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}
.banner-description {
  margin: 12px 0 18px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 24px;
  background-color: #e02c6d;
  color: #fff;
  font-size: 16px;
  border: 1px solid #e02c6d;
  border-radius: 50px;
}
.btn:hover {
  background-color: #fff;
  color: #e02c6d;
}
.banner-img {
  width: 85%;
  display: block;
  margin-left: auto;
}

/* ========================= 
    client logo styles
============================ */

.client-logo-container,
.collection-container {
  margin: 2% 5% 6%;
}
.client-logo-container .image-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.image-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= 
    popular collections styles
================================= */

.collection-heading {
  font-size: 34px;
  color: #3a3a3a;
  text-align: center;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.single-collection {
  padding: 17px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.single-collection h2 {
  font-size: 28px;
  margin: 10px 0 5px;
  font-weight: 600px;
}
.single-collection h2 a {
  color: #18191f;
  text-decoration: none;
}
.single-collection h3 {
  font-size: 24px;
  color: #18191f;
  font-weight: 400;
  margin: 5px 0 10px;
}
.single-collection .ratings i {
  color: #fb8200;
  font-size: 14px;
}
.single-collection .ratings span,
.single-collection p {
  color: #5e6366;
  font-size: 14px;
}
.see-more {
  margin-top: 3%;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
}
