/* =========================
Custom Fonts
============================ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); /* poppins 600 */

body {
  font-family: "Poppins", sans-serif;
}

/* ========================= 
    Header styles
============================ */
#header-container,
#body-container,
#footer-container {
  max-width: 80%;
  margin: 2% auto;
}
.header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 300px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline;
  margin-left: 34px;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #3a3a3a;
}
.menu ul li a:hover {
  color: #e02c6d;
}

/* ========================= 
    Main banner styles
============================ */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  width: 50%;
}
.banner-heading {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}
.banner-description {
  margin: 12px 0 18px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 24px;
  background-color: #e02c6d;
  color: #fff;
  font-size: 16px;
  border: 1px solid #e02c6d;
  border-radius: 50px;
}
.btn:hover {
  background-color: #fff;
  color: #e02c6d;
}
.banner-img {
  width: 85%;
  display: block;
  margin-left: auto;
}

/* ========================= 
    client logo styles
============================ */

.client-logo {
  padding: 1% 5%;
}
.client-logo .image-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.image-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
